{% extends 'base.html' %}

{% block content %}
        
  <div class="mx-auto text-center">
    <h1>Dark Sky Weather</h1>
    
    <hr>
    
    <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
    <a href="#about" class="btn btn-primary">
      Vancouver B.C., Canada | Get Current Weather
    </a>
    
    <br>
    <br>
        
    <div class='input-group row mb-3 col-lg-7 mx-auto text-center'>
      <div class='input-group-prepend'>
        <span class='input-group-text' id='inputGroup-sizing-default'>
          Enter Location
        </span>
      </div>
      <input class='form-control' type='text' placeholder='...by city, province/state/country, postal/zip code, etc.'>
    </div>
    
    <br>
    
    <!-- kwkw: TODO:... -->
    <a href='#' class='btn btn-secondary'>Get Weather By Location</a>
  </div>
  
{% endblock %}